body {
    background-color: #151515;
}

#video {
    position: fixed;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

@media (min-aspect-ratio: 16/9) {
    #video {
      width: 100%;
      height: auto;
    }
}
  @media (max-aspect-ratio: 16/9) {
    #video {
     width:100%; 
      height: 100%;
    }
}

#set-height {
    display: block;
}

section {
    z-index: 1;
    position: relative;
}

section:nth-of-type(1) {
    height: 6662px;
}

section:nth-of-type(2) {
    height: 2028px;
}

section:nth-of-type(3) {
    height: 1200px;
}