body {
    background-color: #151515;
}

#v0 {
    position: fixed;
    bottom: 0;
    right: 0;
    width: 100%;
}

#set-height {
    display: block;
}

section {
    z-index: 1;
    position: relative;
}

section:nth-of-type(1) {
    height: 1000px;
}

section:nth-of-type(2) {
    height: 1200px;
}