@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@700&family=Ubuntu:ital@1&display=swap');

body{
    background-color: #151515;
}

#blinkingText{
    text-align: center;
    font-family: 'Ubuntu', sans-serif;
    color: white;
    padding: 8% 20px 0px;
    font-size: 26;
    -webkit-user-select: none; /* Safari */        
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */
    height: 80%;
}

.container{
    display: flex;
    flex-direction: column;
    overflow: auto;
    scroll-snap-type: y mandatory;
    height: 100%;
    scroll-behavior: smooth !important;
}

.section{
    flex: 0 0 100%;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    height: 100%;
    scroll-snap-align: start;
    align-items: center;
}

.arrowButton{
    background-color: transparent;
    position: relative;
    bottom: 5%;
}

.linkButton{
    background-color: rgba(255, 255, 255, 0.1);
    width: 170px;
    margin-bottom: 15%;
    padding: 15px 20px;
    border: 5px solid white;
    border-radius: 20px;
    color: white;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 18;
}

#secondSection{
    justify-content: center;
}